<footer class='footer fixed-bottom py-3 bg-dark'>
  <div class='container text-center'>
    <span class='text-muted'>&copy; 2024 GYM Management System. All rights
      reserved.</span>
  </div>
</footer>